:root {
	/* Colours */
	--bot-blog-blue: #35a6f1;
	--bot-blog-dark-blue: #0743aa;
	--white: #fff;
	--off-white: #f2f2f2;
	--off-white-light: #fafafa;
	--dark-grey: #333;
}

@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600&display=swap');

/* base styles */
* {
	margin: 0;
	font-family: 'Space Grotesk', sans-serif;
	color: var(--dark-grey);
}
.navbar {
	padding: 20px;
	display: flex;
	align-items: center;
	max-width: 100vw;
	margin: 0 auto;
	border-bottom: 1px solid var(--off-white);
}
img {
	width: 100%;
	height: auto;
}
.blog-preview-container{
	display:flex;
	flex-direction: row;
}
.thumbnail {
	width: 60px;
	height: 60px;
}
.navbar h1 {
	color: var(--bot-blog-blue);
}
.navbar h1:hover {
	color: var(--bot-blog-dark-blue);
}
.navbar .links {
	margin-left: auto;
}
.navbar a {
	color: var(--bot-blog-blue);
	margin-left: 16px;
	text-decoration: none;
	padding: 6px;
}
.navbar a:hover {
	color: var(--bot-blog-dark-blue);
}
.content {
	max-width: 600px;
	margin: 40px auto;
	padding: 20px;
}

/* blog previews / list */
.blog-preview {
	padding: 10px 16px;
	margin: 20px 0;
	border-bottom: 1px solid var(--off-white-light);
}
.blog-preview:hover {
	box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.1);
}
.blog-preview h2 {
	font-size: 20px;
	color: var(--bot-blog-blue);
	margin-bottom: 8px;
}
.blog-preview a {
	text-decoration: none;
}
/* blog details page */
.blog-details h2 {
	color: var(--bot-blog-blue);
	margin-bottom: 10px;
}
.blog-details div {
	margin: 20px 0;
}
.blog-details button {
	background: var(--bot-blog-blue);
	color: var(--white);
	border: 0;
	padding: 8px;
	border-radius: 8px;
	cursor: pointer;
}
/* create new blog form */
.create {
	max-width: 400px;
	margin: 0 auto;
	text-align: center;
}
.create label {
	text-align: left;
	display: block;
}
.create h2 {
	font-size: 20px;
	color: var(--bot-blog-blue);
	margin-bottom: 30px;
}
.create input,
.create textarea,
.create select {
	width: 100%;
	max-width: 100%;
	min-width: 100%;
	padding: 6px 10px;
	margin: 10px 0;
	border: 1px solid #ddd;
	box-sizing: border-box;
	display: block;
}
.create textarea {
	min-height: 300px;
}
.create button {
	background: var(--bot-blog-blue);
	color: var(--white);
	border: 0;
	padding: 8px;
	border-radius: 8px;
	cursor: pointer;
}

/* 404 page */
.not-found {
	text-align: center;
}
.not-found h2 {
	font-size: xx-large;
	margin-top: 50%;
}
.not-found p {
	margin: 20px 0;
}
.not-found a {
	text-decoration: none;
	color: var(--bot-blog-blue);
}
.not-found a:hover {
	color: var(--bot-blog-dark-blue);
}
